body {
    background-color: rgb(247, 236, 215);
    font-family: monospace;
    font-size: larger;
}

canvas {
    border: 3px solid black;
   /* width:1100px;
    height: 650px;
    background-color: white;*/
  }

.colorwell {
    text-align: right;
    position:absolute;
    top:50px;
    right:120px;
}

.canvas_style {
    /*margin-left: 30px;
    margin-top: 30px;*/
    display: inline-block;
}


/*================================================pensize==============================w3school===============================silder================================*/
.pen_size_value {
    text-align: center;
}
/*===================================*/
.slidecontainer {
    position: absolute;
    top: 110px;
    right: 130px;
    display: inline-block;
    width: 10%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: #585858; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #585858; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/*==================================================================================================================================================*/
table {
    position: absolute;
    width: 20%;
    height: 50%;
    top: 200px;
    right: 30px;
}

#Pen {
    background-image: url("img/pen.png");
    cursor: pointer;
}

#Line {
    background-image: url("img/line.png");
    cursor: pointer;
}

#Eraser {
    background-image: url("img/eraser.png");
    cursor: pointer;
}

#Text {
    background-image: url("img/text.png");
    cursor: pointer;
}

#Fill {
    background-image: url("img/fill.png");
    cursor: pointer;
}
#Circle {
    background-image: url("img/circle.png");
    cursor: pointer;
}

#Triangle {
    background-image: url("img/triangle.png");
    cursor: pointer;
}

#Rectangle {
    background-image: url("img/rectangle.png");
    cursor: pointer;
}

#Star {
    background-image: url("img/star.png");
    cursor: pointer;
}

#Heart {
    background-image: url("img/heart.png");
    cursor: pointer;
}

#Download {
    background-image: url("img/download.png");
    cursor: pointer;
}

#Undo {
    background-image: url("img/undo.png");
    cursor: pointer;
}

#Redo {
    background-image: url("img/redo.png");
    cursor: pointer;
}

#Clear {
    background-image: url("img/clear.png");
    cursor: pointer;
}

#Rainbow {
    background-image: url("img/rainbow.png");
    cursor: pointer;
}

.button {
    background-color: transparent;
    background-size: 50px 50px;
    border: none;
    height: 50px;
    width: 50px;
}

/*=======================================================================================*/
.select {
    position: absolute;
    bottom: 90px;
    right: 100px;
    display: inline;
}
/*============================================================icon set====*/
#pen_cursor {
    cursor: url("img/littlepen.png"), auto;
}

#line_cursor {
    cursor: url("img/littleline.png"), auto;
}

#eraser_cursor {
    cursor: url("img/littleeraser.png"), auto;
}

#text_cursor {
    cursor: url("img/littletext.png"), auto;
}

#solid_circle_cursor {
    cursor: url("img/littlesolidcircle.png"), auto;
}

#circle_cursor {
    cursor: url("img/littlecircle.png"), auto;
}

#solid_rectangle_cursor {
    cursor: url("img/littlesolidrectangle.png"), auto;
}

#rectangle_cursor {
    cursor: url("img/littlerectangle.png"), auto;
}

#solid_triangle_cursor {
    cursor: url("img/littlesolidtriangle.png"), auto;
}

#triangle_cursor {
    cursor: url("img/littletriangle.png"), auto;
}

#solid_star_cursor {
    cursor: url("img/littlesolidstar.png"), auto;
}

#star_cursor {
    cursor: url("img/littlestar.png"), auto;
}

#solid_heart_cursor {
    cursor: url("img/littlesolidheart.png"), auto;
}

#heart_cursor {
    cursor: url("img/littleheart.png"), auto;
}

#rainbow_cursor {
    cursor: url("img/littlerainbow.png"), auto;
}

/*=======================================================================*/